/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--text-color);
  background: repeating-linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start) 0.01%,
      var(--background-color-end)
    );
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* Фильтры картинок */

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(360%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(5px);
}

.multi-filter {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

/* Image labels */

.image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
  inset-inline-end: 25px;
  inset-block-start: 27px;
}

@supports (text-stroke: 1px var(--label-stroke-color)) or
  (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
  }
}

@media (width <= 375px) {
  .image-label {
    inset-inline-end: 10px;
    inset-block-start: 24px;
  }
}

/* SVG */

.floppy-image {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .floppy-image {
    inline-size: 28px;
    block-size: 28px;
  }
}

.like-icon {
  position: relative;
  z-index: 1;
  fill: var(--text-color);
  inline-size: inherit;
  block-size: inherit;
}

.like-icon .heart {
  transform-origin: center center;
}

.like-icon .contour {
  fill: var(--text-color);
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: fill;
  transition-timing-function: linear;
}

.like-icon .main-body {
  fill: var(--page-background);
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: linear;
}

.like-icon .core {
  fill: var(--page-background);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color);
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition-delay: 0s;
}

/* Кнопки */

.button {
  position: relative;
  border: 2px solid var(--stroke-color);
  overflow: hidden;
  color: var(--mix-blend-color);
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  background: transparent;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  background: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button__text {
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-end: 100px;
  padding-inline: 20px;
  padding-block: 15px;
  background: var(--page-background);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}

.ok-button {
  padding-block: 10px;
  text-transform: uppercase;
  background: var(--page-background);
  inline-size: 100%;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Header */

.header {
  margin-block: 100px;
  border: 2px solid var(--stroke-color);
  padding-block-start: 130px;
  padding-block-end: 100px;
  font-family: var(--fantasy-font-family);
  text-align: center;
  background: var(--header-background);
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  margin-block-start: 20px;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
    padding-block-end: 97px;
  }
}

/* Section */

.section {
  display: inherit;
  flex-direction: inherit;
  gap: 49px;
}

@media (width <= 375px) {
  .section {
    display: inherit;
    flex-direction: inherit;
    gap: 51px;
  }
}

/* Cards */

.card {
  border: 2px solid var(--stroke-color);
  background: var(--header-background);
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  font-variation-settings: var(--title-font-weight);
}

.card__image {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid var(--stroke-color);
  border-block-end: 2px solid var(--stroke-color);
  overflow: hidden;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-color);
}

.card__like-button {
  padding-block: 10px;
  inline-size: 130px;
}

.card__like-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

@media (width <= 375px) {
  .card:nth-child(7) .card__text {
    max-inline-size: 318px;
  }
}

/* Modal */

.dialog {
  border: 2px solid var(--stroke-color);
  padding: 31px;
  color: var(--text-color);
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  background: var(--page-background);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width <= 375px) {
  .dialog__container {
    gap: 28px;
  }
}

.dialog__text {
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 234px;
  inline-size: 100%;
}

.dialog__text-container {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (width <= 375px) {
  .dialog__text {
    inline-size: 80%;
  }
}

.dialog .floppy-image {
  inline-size: 40px;
  block-size: 40px;
  mix-blend-mode: normal;
}